/* CityCenter.css */
h2 {
    font-size: 2rem;
    color: #444;
    margin-top: 20px;
  }
  
  nav ul {
    margin-top: 20px;
  }
  
  nav ul li a {
    font-size: 1rem;
    background-color: #28a745;
  }
  
  nav ul li a:hover {
    background-color: #218838;
  }
  